/*Estilos globales de index.html*/
* {
  background-color: #15202B;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*

Azul oscuro: #15202B (background)

Azul brillante: #22A7F0 (navigator)

Verde lima: #7ED321

Naranja oscuro: #FFA200

Gris claro: #E5E5E5

letras: #17293e

*/

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #22A7F0;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-evenly;
  font-weight: 400;
  flex-wrap: wrap;
}

header img {
  background-color: transparent;
}

footer {
  background-color: #22A7F0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #15202B;
  padding: 0.4rem;
}

footer * {
  background-color: #22A7F0 ;
}

/*Nav en el header*/

.nav {
  background-color: inherit;
}

.nav__list {
  background-color: inherit;
  list-style: none;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  background-color: inherit;
}

.nav__items {
  display: flex;
  border-bottom: 3.5px solid transparent;
  background-color: inherit;
}

.nav__items a {
  color: #313031;
  text-decoration: none;
  background-color: inherit;
  padding: 1rem;
}

.nav__items i {
  background-color: transparent;
}

.nav__items:hover {
  cursor: pointer;
  background-color: #4191e6;
  border-radius: 50px;
  color: #466cb4;
  border-bottom: #0f2e4f 3.5px solid;
}

#home-a{
  display: flex;
}

/*Searchbox en el header*/
.searchbox {
  background-color: inherit;
  padding-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.searchbox label {
  background-color: inherit;
}

.searchbox__input {
  background-color: inherit;
  outline: none;
  border-radius: 10px;
  padding: 0.2rem;
}

.searchbox__input::placeholder {
  color: black;
}

/*================ main ======================*/

/*Dashboard (<main>)*/
.dashboard {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  min-height: 34rem;
  flex-wrap: wrap;
}

/*EPP*/
.epp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  color: #e4e4e4;
  flex-wrap: wrap;
}
.epp__container {
  border-radius: 10px;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  max-width: 36rem;
  align-items: center;
}

.epp__item {
  display: flex;
  flex-direction: column;
  width: 8rem;
  overflow-wrap: break-word;
  align-items: center;
  text-align: center;
  font-size: small;
}

.epp__item a{
  padding: 0.2rem;
  text-decoration: none;
  outline: none;
  height: 10.6rem;
  overflow-y: hidden;
  color: #003399;
  background-color: #22A7F0;
  border-radius: 10px;
  font-weight: 500;
}


.epp__item a:hover {
  background-color: #0e8acd;
  text-decoration: underline;
  overflow-y: visible;
  z-index: 1;
}
.epp__item a:hover * {
  background-color: #0e8acd;
}
.epp__item a *{
  background-color: #22A7F0;
  cursor: pointer;
}

/*INFORMACIÓN*/

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  gap: 3rem;
  text-align: end;
  align-items: center;
}

.about h2{
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.about p{
  color: #e1e1e1;
}

/*RECURSOS IMPORTANTES*/

.resources {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.resources h3 {
  color: #fff;
}

.resources__links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.resources a, .resources a i{
  font-weight: bold;
  background-color: #7ED321;
  border-radius: 10px;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  text-decoration: none;
  color:#000;
  display: flex;
  align-items: center;
}


.resources:hover {
  cursor: pointer;
}

.resources a:active {
  background-color: #599717;
}

.resources a:active i {
  background-color: #599717;
}

/*Formulario de login*/
.login__form {
  color: #22A7F0 ;
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 10px;
}

.login__form h3 {
  color: #fff;
}

.login__input {
  padding: 0.5rem;
  border-radius: 5px;
  color: #E5E5E5;
  border: 1px solid #E5E5E5;
}

.login__form input[type="submit"] {
  background-color: #7ED321;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  align-self: center;
  padding: 0.2rem 5.3rem 0.2rem 5.3rem;
  margin-top: 0.4rem;
}

.login__form input[type="submit"]:hover {
  cursor: pointer;
}

.login__register {
  font-size: small;
  font-style: italic;
}

.login__register a {
  text-decoration: none;
  font-weight: 600;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2.5rem;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 15rem;
}

.news h4 {
  color: white;
}

.news__list {
  font-size: small;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news__item a {
  text-decoration: none;
  color: #0e8acd;
}

.news__item a:hover {
  color: #003399;
}


/*  ======== MANTENEDORES ======== */
.crud {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
}
.crud__item {
  background-color: #7ED321;
  height: 10rem;
  width: 20rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.crud__item a {
  align-self: flex-end;
  font-size: large;
  padding: 0.4rem 2rem 0.4rem 2rem ;
  text-decoration: none;
  color: inherit;
}

.crud__item * {
  background-color: #7ED321;
}

.crud__item a:hover {
  border-radius: 15px;
  cursor: pointer;
  background-color: #0e0e0e30;
}

.crud__item a:hover i{
  cursor: pointer;
  background-color: transparent;
}

.footer-logo {
  align-self: center;
}

@media only screen and (max-width: 600px) {
  header{
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav *{
    display: block;
    text-align: center;
    width: 100%;
  }

  #home-a{
    display: block;
  }

  footer{
    display: block;
    text-align: center;
    width: 100%;
  }

  .footer-logo img{
    width: 50%;
  }

  .footer-credits{
    margin-top: 12px;
  }
}