*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  flex-direction: column;
  justify-content: center;
  background-color: #15202B;
}

/*
  
  Azul oscuro: #15202B (background)
  
  Azul brillante: #22A7F0 (navigator)
  
  Verde lima: #7ED321
  
  Naranja oscuro: #FFA200
  
  Gris claro: #E5E5E5
 */

main {
  display: flex;
  gap: 3rem;
}

.ic-profile__container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}


.div-form{
    text-align: center;
    background-color: aqua;
    max-width: 380px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 12px;
}

form div{
    margin: 12px;
}

form div input{
    padding: 8px 12px;
    border-radius: 6px;
    border: 2px solid black;
}

.form-asignacion{
    max-width: 800px;
    text-align: center;
    margin: 24px auto;
    border-radius: 10px;
    color: #22A7F0;
}

input[type="submit"]{
    background-color: green;
    box-shadow: 4px 4px black;
    color: white;
}

input[type="submit"]:hover, input[type="button"]:hover{
    transform: translate(1px, 1px);
    cursor: pointer;
}

a{
    text-decoration: none;
}

.alinear-divs-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs-form{
    width: 74%;
    background-color: #15202B;
    color: white;
    border: 1px solid #E5E5E5;
}

.select-form{
    padding: 8px 12px;
    border-radius: 8px;
    width: 77.3%;
    background-color: #15202B;
    color: white;
    border: 1px solid #E5E5E5;
}

.input-file-div{
    width: 77.4%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

#div-botones{
    display: flex;
    justify-content: space-evenly;
}

#tablaEPPsTrabajador, #alert-trabajador, #alert-epp, #alert-motivo{
    display: none;
}

#asignacionesEPPsTrabajador{
    text-align: center;
    color: #e1e1e1;
    margin-top: 14px;
}

table{
    margin-left: auto;
    margin-right: auto;
    color: #22A7F0;
    border-collapse: collapse;
    margin-top: 12px;
}

table tr th h3{
    color: #E5E5E5;
}

table tr td{
    width: 200px;
    border-left: solid 3px #E5E5E5;
    padding-left: 8px;
}

.centrar{
    text-align: center;
    max-width: 22px;
    padding-left: 4px;
}

h2{
    text-align: center;
    color: #E5E5E5;
    margin-top: 40px;
    margin-bottom: 30px;
}

footer {
    background-color: #22A7F0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #15202B;
    padding: 0.4rem;
    margin-top: 60px;
  }
  
footer * {
   background-color: #22A7F0 ;
}

.footer-logo {
   align-self: center;
}

@media only screen and (max-width: 680px){
    .inputs-form{
        width: 100%;
    }
    .alinear-divs-form{
        display: block;
        text-align: start;
        width: 84%;
    }
    .acciones-table{
        display: none;
    }
    .input-file-div{
        width: 100%;
    }
    .input-file-url{
        width: 100%;
    }
    table tr td{
        border-left: solid 1px #E5E5E5;
        padding-left: 0px;
        padding-top: 14px;
    }
    .select-form{
        width: 100%;
    }

    th h3{
        font-size: medium;
    }

    header{
        display: block;
        width: 100%;
        text-align: center;
      }
      .nav *{
        display: block;
        text-align: center;
        width: 100%;
      }
    
      #home-a{
        display: block;
      }
    
      footer{
        display: block;
        text-align: center;
        width: 100%;
      }
    
      .footer-logo img{
        width: 50%;
      }
    
      .footer-credits{
        margin-top: 12px;
      }
}
