/*Estilos globales de index.html*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /*
    
    Azul oscuro: #15202B (background)
    
    Azul brillante: #22A7F0 (navigator)
    
    Verde lima: #7ED321
    
    Naranja oscuro: #FFA200
    
    Gris claro: #E5E5E5
   */
  
  main {
    display: flex;
    gap: 3rem;
  }
  
  .ic-profile__container {
  
  }
  
  .ic-profile__container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  
  .section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .start-section {
  }
  
  .end-section {
  }
  
  .actions {
    display: flex;
    gap: 1rem;
  }
  
  .msg__button {
    background-color: #22A7F0;
    padding: 0.5rem;
    border-radius: 8px;
  }
  
  .report__button {
    background-color: red;
    padding: 0.5rem;
    border-radius: 8px;
  }
  